{
  "extends": [
  "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
 "plugin:prettier/recommended"
  ],
  "plugins": [
  "react",
    "sort-imports-es6-autofix"
  ],
  "rules": {
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  }
}
